.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
	width: 100%;
    display: block;
    height: 100%;
    opacity: 0;
}

/* 所见按钮关键样式部分 */
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 9px 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}

