body {
    background: blanchedalmond;
}

#demo1 {
    /* 居中显示 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 初始样式 */
    width: 10em;
    height: 10em;
    /* 背景色*/
    background-color: #fff;
    /* 边距设置 */
    border: 1em solid grey;
    border-radius: 8%;
    transition: all 1s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo1:hover {
    border-radius: 50%;
}

#demo1 span {
    color: #000;
    font-weight: bold;
    font-size: 2em;
}